<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chart.name}}">
  <ion-content class="padding">
      <div class="subheader text-center">
    <img ng-src="{{chart.face}}" style="width: 250px; height: 200px"> </div>
    <p>
     <!-- {{chart.lastText}} -->
      <div class="card" style="width:200px;">
          <div class="container">
            <h4><b>Calories</b><p>{{chart.Calorie}}</p></h4>
            <p>{{chart.lastText}}</p>
          </div>
        </div> 
    </p>
  
  </ion-content>
</ion-view>
