<ion-view view-title="Calorie-Chart">
  <ion-content class="padding">
      <div class="subheader text-center">
    <h2>Welcome to Calorie-Chart</h2>
    <img src="img/chesse.jpg" height="200px" width="30%" >
    </div>
    </div>
    <p>
         A calorie is a unit of energy. Various definitions exist but fall into two broad categories.
         The first, the small calorie, or gram calorie, is defined as the approximate amount of energy 
         needed to raise the temperature of one gram of water by one degree Celsius at a pressure of one 
         atmosphere. The second is the large calorie or kilogram calorie, also known as the food calorie and 
         similar names, is defined in terms of the kilogram rather than the gram.
         It is equal to 1000 small calories or 1 kilocalorie. For refering complete calorie-chart refer to website...
         <a href="http://www.myfoodbuddy.com/foodCalorieTable.htm" target="_blank">Food buddy</a>
    </p>
  </ion-content>
</ion-view>
